 .country {
     margin: 20px;
     padding: 10px;
     background-color: bisque;
     border-radius: 10px;
 }

 .country img {
     width: 100px;
     /* height: 50px; */
     /* overflow-wrap: break-word; */
 }